In [1]:
from transformers import AutoTokenizer
import random
import torch

tokenizer = AutoTokenizer.from_pretrained('tokenizer/gpt2')
tokenizer.pad_token_id = 0

tokenizer

/root/anaconda3/envs/pt2/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Using sep_token, but it is not set yet.
Using cls_token, but it is not set yet.
Using mask_token, but it is not set yet.

GPT2TokenizerFast(name_or_path='tokenizer/gpt2', vocab_size=50257, model_max_length=1024, is_fast=True, padding_side='right', truncation_side='right', special_tokens={'bos_token': '<|endoftext|>', 'eos_token': '<|endoftext|>', 'unk_token': '<|endoftext|>', 'pad_token': '!'}, clean_up_tokenization_spaces=True),  added_tokens_decoder={
	50256: AddedToken("<|endoftext|>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
}

In [2]:
from datasets import load_from_disk

dataset = load_from_disk('dataset/b-mc2/sql-create-context')['train']


def f(data):
    question = 'context:%s question:%s answer:' % (data['context'],
                                                   data['question'])
    answer = data['answer']
    return {'question': question, 'answer': answer}


dataset = dataset.map(f, remove_columns=['context'])


def f(data):
    question = len(tokenizer.encode(data['question']))
    answer = len(tokenizer.encode(data['answer']))
    return 25 <= question <= 65 and 10 <= answer <= 35


dataset = dataset.filter(f)


def f(data):
    return {
        'prompt': data['question'],
        'chosen': data['answer'],
        'rejected': ''
    }


dataset = dataset.map(f, remove_columns=['question', 'answer'])
dataset = dataset.train_test_split(test_size=200)

dataset, dataset['train'][0]

(DatasetDict({
     train: Dataset({
         features: ['prompt', 'chosen', 'rejected'],
         num_rows: 71745
     })
     test: Dataset({
         features: ['prompt', 'chosen', 'rejected'],
         num_rows: 200
     })
 }),
 {'prompt': 'context:CREATE TABLE TV_series (SHARE INTEGER) question:What is minimum and maximum share of TV series? answer:',
  'chosen': 'SELECT MAX(SHARE), MIN(SHARE) FROM TV_series',
  'rejected': ''})

In [3]:
from transformers import AutoModelForCausalLM

model_dpo = AutoModelForCausalLM.from_pretrained('model/gpt2').to('cuda')
model_dpo_ref = AutoModelForCausalLM.from_pretrained('model/gpt2').to('cuda')

In [4]:
import torch
import random


@torch.no_grad()
def generate(input_ids):
    lens = input_ids.shape[1]
    while True:
        out = model_dpo(input_ids=input_ids)
        topk = out['logits'][0, -1].topk(1)

        values = topk.values.softmax(0).tolist()
        indices = topk.indices.tolist()
        next_word = random.choices(indices, weights=values)

        next_word = torch.LongTensor(next_word).unsqueeze(0).to('cuda')
        input_ids = torch.cat([input_ids, next_word], dim=1)

        if input_ids.shape[1] - lens >= 35:
            break

        if input_ids[0, -1] == tokenizer.eos_token_id:
            break

    return input_ids


input_ids = 'context:CREATE TABLE department (num_employees INTEGER, ranking INTEGER) question:What is the average number of employees of the departments whose rank is between 10 and 15? answer:'
input_ids = tokenizer.encode(input_ids, return_tensors='pt').to('cuda')

out = generate(input_ids)

tokenizer.decode(out[0])

'context:CREATE TABLE department (num_employees INTEGER, ranking INTEGER) question:What is the average number of employees of the departments whose rank is between 10 and 15? answer:10\n\nThe answer is:\n\nThe answer is:\n\nThe answer is:\n\nThe answer is:\n\nThe answer is:\n\nThe answer'

In [5]:
from transformers import TrainingArguments, TrainerCallback
from trl import DPOTrainer
import random

args = TrainingArguments(per_device_train_batch_size=16,
                         max_steps=2000,
                         learning_rate=1e-5,
                         evaluation_strategy='no',
                         optim='rmsprop',
                         report_to='none',
                         save_strategy='no',
                         output_dir='output_dir')


class MyCallback(TrainerCallback):

    def on_step_end(self, args, state, control, **kwargs):
        if state.global_step % 100 == 0:
            print(state.global_step)

            data = random.choice(dataset['test'])
            input_ids = tokenizer.encode(data['prompt'],
                                         return_tensors='pt').to('cuda')

            out = generate(input_ids)

            print(tokenizer.decode(out[0]))
            print('=================')
            print(data['chosen'])
            print('=================')


trainer = DPOTrainer(model_dpo,
                     model_dpo_ref,
                     args=args,
                     beta=0.1,
                     train_dataset=dataset['train'],
                     tokenizer=tokenizer,
                     max_length=100,
                     max_target_length=100,
                     max_prompt_length=100,
                     callbacks=[MyCallback()])

trainer.train()

/root/anaconda3/envs/pt2/lib/python3.10/site-packages/trl/trainer/ppo_config.py:141: UserWarning: The `optimize_cuda_cache` arguement will be deprecated soon, please use `optimize_device_cache` instead.
  warnings.warn(
/root/anaconda3/envs/pt2/lib/python3.10/site-packages/trl/trainer/dpo_trainer.py:291: UserWarning: When using DPODataCollatorWithPadding, you should set `remove_unused_columns=False` in your TrainingArguments we have set it for you, but you should do it yourself in the future.
  warnings.warn(
Could not estimate the number of tokens of the input, floating-point operations will not be computed

100
context:CREATE TABLE table_25330991_3 (james_e_holmes VARCHAR, reidsville VARCHAR) question:Name the james e. holmes for erselle young answer:SELECT name FROM table_25330991_3 WHERE reidsville = "young"<|endoftext|>
=================
SELECT james_e_holmes FROM table_25330991_3 WHERE reidsville = "Erselle Young"
=================
200
context:CREATE TABLE table_name_8 (weekly_rank VARCHAR, official_ratings__millions_ VARCHAR, show VARCHAR) question:Which Weekly Rank for a Live Final Show has an Official Ratings (millions) greater than 5.2? answer:SELECT weekly_rank FROM table_name_8 WHERE official_ratings__millions_ = 5.2 AND show = "Live Final Show" AND show = "
=================
SELECT weekly_rank FROM table_name_8 WHERE official_ratings__millions_ > 5.2 AND show = "live final"
=================
300
context:CREATE TABLE table_11173827_1 (english_title VARCHAR, finale VARCHAR, peak VARCHAR) question:What is the english title that has finale as 33 and peak as 42? answer:SELECT title FROM table_11173827_1 WHERE finale = 33 AND peak = 42<|endoftext|>
=================
SELECT english_title FROM table_11173827_1 WHERE finale = 33 AND peak = 42
=================
400
context:CREATE TABLE table_name_80 (year INTEGER, date VARCHAR, designated_home VARCHAR) question:What year had a date of TBA where the Oakland raiders were the home team? answer:SELECT year FROM table_name_80 WHERE designated_home = "Oakland"<|endoftext|>
=================
SELECT AVG(year) FROM table_name_80 WHERE date = "tba" AND designated_home = "oakland raiders"
=================
500
context:CREATE TABLE table_name_66 (cost___us$__ VARCHAR, open_source VARCHAR) question:What is the cost of an Open Source that is no? answer:SELECT cost___us$__ FROM table_name_66 WHERE open_source = "Open Source"<|endoftext|>
=================
SELECT cost___us$__ FROM table_name_66 WHERE open_source = "no"
=================
600
context:CREATE TABLE table_name_11 (winner VARCHAR, year VARCHAR) question:What is Winner, when Year is 2013? answer:SELECT Winner FROM table_name_11 WHERE year = 2013 AND year = 2013 AND year = 2013 AND year = 2013 AND year = 2013 AND year = 2013 AND year =
=================
SELECT winner FROM table_name_11 WHERE year = 2013
=================
700
context:CREATE TABLE table_name_44 (years VARCHAR, displacement VARCHAR) question:Which years have a displacement of 1816cc? answer:SELECT years FROM table_name_44 WHERE displacement = 1816cc<|endoftext|>
=================
SELECT years FROM table_name_44 WHERE displacement = "1816cc"
=================
800
context:CREATE TABLE table_26982362_2 (original_airdate VARCHAR, production_code VARCHAR) question:The episode with production code 693-002, has how many original airdates? answer:SELECT production_code FROM table_26982362_2 WHERE production_code = 693-002<|endoftext|>
=================
SELECT COUNT(original_airdate) FROM table_26982362_2 WHERE production_code = "693-002"
=================
900
context:CREATE TABLE table_name_24 (games INTEGER, term_ VARCHAR, c_ VARCHAR) question:What is the of games when for the term [c] of 1969 – 1973? answer:SELECT games FROM table_name_24 WHERE term_ = "1969"<|endoftext|>
=================
SELECT SUM(games) FROM table_name_24 WHERE term_[c_] = "1969 – 1973"
=================
1000
context:CREATE TABLE table_18498743_1 (october_20 VARCHAR, _2008 VARCHAR, mexico VARCHAR) question:what is the october 20, 2008 stat where mexico stat is romania answer:SELECT date FROM table_18498743_1 WHERE date = "2008"<|endoftext|>
=================
SELECT october_20, _2008 FROM table_18498743_1 WHERE mexico = "Romania"
=================
1100
context:CREATE TABLE table_3005915_3 (starts INTEGER) question:What is the maximum number of starts? answer:SELECT start FROM table_3005915_3 WHERE start < 3005915_3<|endoftext|>
=================
SELECT MAX(starts) FROM table_3005915_3
=================
1200
context:CREATE TABLE table_name_17 (date VARCHAR, venue VARCHAR) question:What was the date of the game at Lake Oval? answer:SELECT date FROM table_name_17 WHERE venue = "Lake Oval"<|endoftext|>
=================
SELECT date FROM table_name_17 WHERE venue = "lake oval"
=================
1300
context:CREATE TABLE table_name_21 (player VARCHAR, total VARCHAR, year_s__won VARCHAR) question:Who won in 1988 with a total less than 287? answer:SELECT player FROM table_name_21 WHERE total = 287<|endoftext|>
=================
SELECT player FROM table_name_21 WHERE total < 287 AND year_s__won = "1988"
=================
1400
context:CREATE TABLE table_23224961_1 (oberbayern_b VARCHAR, oberpfalz VARCHAR) question:When fc schwandorf is the oberpfalz what is the oberbayern b? answer:SELECT fc, oberpfalz FROM table_23224961_1 WHERE oberpfalz = "schwandorf"<|endoftext|>
=================
SELECT oberbayern_b FROM table_23224961_1 WHERE oberpfalz = "FC Schwandorf"
=================
1500
context:CREATE TABLE table_name_88 (lane INTEGER, name VARCHAR) question:What is the average lane that is called rebecca brown? answer:SELECT MAX(lane) FROM table_name_88 WHERE name = "rebecca brown"<|endoftext|>
=================
SELECT AVG(lane) FROM table_name_88 WHERE name = "rebecca brown"
=================
1600
context:CREATE TABLE table_name_24 (games INTEGER, term_ VARCHAR, c_ VARCHAR) question:What is the of games when for the term [c] of 1969 – 1973? answer:SELECT games FROM table_name_24 WHERE term_ = "1969"<|endoftext|>
=================
SELECT SUM(games) FROM table_name_24 WHERE term_[c_] = "1969 – 1973"
=================
1700
context:CREATE TABLE table_name_87 (type VARCHAR, location VARCHAR) question:What type of Bridge is in Stanley? answer:SELECT type FROM table_name_87 WHERE location = "Stanley"<|endoftext|>
=================
SELECT type FROM table_name_87 WHERE location = "stanley"
=================
1800
context:CREATE TABLE table_name_34 (attendance VARCHAR, date VARCHAR, week VARCHAR) question:What was the attendance of the game on December 13, 1970? answer:SELECT attendance FROM table_name_34 WHERE date = "2013-12-13T00:00:00Z"<|endoftext|>
=================
SELECT COUNT(attendance) FROM table_name_34 WHERE date = "december 13, 1970" AND week > 13
=================
1900
context:CREATE TABLE constructors (nationality VARCHAR) question:What are the numbers of constructors for different nationalities? answer:SELECT nationality FROM constructors WHERE nationality = "nationality" AND country = "nationality"<|endoftext|>
=================
SELECT COUNT(*), nationality FROM constructors GROUP BY nationality
=================
2000
context:CREATE TABLE table_name_93 (home_team VARCHAR, venue VARCHAR) question:Which home team played at MCG? answer:SELECT venue FROM table_name_93 WHERE venue = "MCG"<|endoftext|>
=================
SELECT home_team FROM table_name_93 WHERE venue = "mcg"
=================

TrainOutput(global_step=2000, training_loss=0.0007831706330180168, metrics={'train_runtime': 1160.3168, 'train_samples_per_second': 27.579, 'train_steps_per_second': 1.724, 'total_flos': 0.0, 'train_loss': 0.0007831706330180168, 'epoch': 0.45})